*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main, .tab{
    width: 50%;
}

.tab, .location, .more-info, .status{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.report{
    justify-content: center;
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 3%;
}
.pastOptions{
    text-align: center;
}
.active{
    border-bottom: solid 2px black;
}
.title{
    margin-bottom: 2vh;
}
.tab, .main, .location{
    margin: 3vh 0;
}
.errorHandling{
    color: red;
}
.tablinks:hover, button:hover{
    cursor: pointer;
}